.card-front {
  padding: 10px;
  width: 33%;
  float: left;
}

.card-front-body {
  overflow: hidden;
  height: 100px;
}

.main-card {
  background-color: #0277bd;
  font-family: 'Chelsea Market', cursive;
}

.title-card {
  font-family: 'Caudex', serif;
}
