.header-image {
    width: 100%;
    background-size: cover;
}

.card-front{
    padding: 10px;
    background-size: cover;
    position: relative;
    display: inline-block;
}

.span1{
    font-weight: 1.5rem;
    color: white;
    font: 28px "IBM Plex Sans";
}

.span2{
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 1.5rem;
    color: white;
    font: 32px "IBM Plex Sans";
}
