<div class="row">
    <div class="col-lg-8 col-sm-12 card-front" (click)="openDialog()">
      <img class="header-image" src="{{two_news.image}}">
      <span class="span2">{{two_news.title}}</span>
    </div>
    <div class="col-lg-4 col-sm-12 card-front" style="background: #0062ff;" (click)="openDialog()">
      <span class="span1">{{one_news.title}}</span>
    </div>
</div>
<div *ngFor ="let new of news">
  <app-card-news [mySelectedNews]="new"></app-card-news>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12 card-front" style="background: #d81b60 ;">
      <span class="span1">{{one_news.title}}</span>
    </div>
    <div class="col-lg-8 col-sm-12 card-front" >
      <img class="header-image" src="{{two_news.image}}">
      <span class="span2">{{two_news.title}}</span>
    </div>
</div>