<mat-toolbar class="docs-navbar-header">
    <mat-toolbar-row>
        <span mat-button routerLink="/" routerLinkActivate="active" class="name-newapapper">Diario Iris</span>
        <h4 class="font-title">El mejor lugar para conocer las últimas noticias</h4>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-toolbar style="background: #fc7e2f">
    <mat-toolbar-row>
        <div class="button-row espace">
            <button mat-button class="font-title" routerLink="/" routerLinkActivate="active">Principal</button>
            <button mat-button class="font-title" routerLink="politica" routerLinkActivate="active">Politica</button>
            <button mat-button class="font-title" routerLink="economia" routerLinkActivate="active">Economia</button>
            <button mat-button class="font-title" routerLink="entretenimiento"
                routerLinkActivate="active">Entretenimiento</button>
            <button mat-button class="font-title" routerLink="cultura" routerLinkActivate="active">Cultura</button>
            <button mat-button class="font-title" routerLink="salud" routerLinkActivate="active">Salud</button>
            <button mat-button class="font-title" routerLink="deportes" routerLinkActivate="active">Deportes</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="content">
    <router-outlet></router-outlet>
</div>
<!-- Footer -->
<div class="navbar navbar-fixed-bottom" style="background: #fc7e2f; margin-top: 10px;">
    <span mat-button routerLink="/" routerLinkActivate="active" class="name-newapapper" style="color: white;">Diario
        Iris</span>
    <h5 style="color: white;" class="font-title">© 2020 Copyright:
        <a href="#" class="font-title"> #SpaceInvaders</a>
    </h5>
</div>