.button-row {
    display: table-cell;
}
  
.button-row button {
    display: table-cell;
    margin-right: 8px;
}

.espace{
    margin-left: 10%;
}

.content{
    background: #212121;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

h4, h6{
    margin-left: 5%;
}


