  <h2 mat-dialog-title class="title-card">{{currentNew.title}}</h2>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="{{currentNew.image}}" class="img-card">
      </div>
      <div class="col-lg-6 col-sm-12">
        <h3 class="title-card">{{currentNew.title}}</h3>
        <p class="main-card">{{currentNew.description}}</p>
      </div>
    </div>  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>